{% load static %}
{% include "header.html" %}
{% block content %}
<style>
    .button {
        width: 100px;
        height: 50px;
    }
</style>
<body>
    <table>
        <tr>
            {% if 1 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
                <td><button id="button1" class="button">1번</button></td>
            {% endif %}
            {% if 6 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
                <td><button id="button1" class="button">6번</button></td>
            {% endif %}
            {% if 11 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">11번</button></td>
            {% endif %}
            {% if 16 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">16번</button></td>
            {% endif %}
            {% if 21 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">21번</button></td>
            {% endif %}
            {% if 26 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">26번</button></td>
            {% endif %}
            {% if 31 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">31번</button></td>
            {% endif %}
            {% if 36 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">36번</button></td>
            {% endif %}
            {% if 41 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">41번</button></td>
            {% endif %}
            {% if 46 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">46번</button></td>
            {% endif %}
        </tr>
        <tr>
            {% if 2 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
                <td><button id="button1" class="button">2번</button></td>
            {% endif %}
            {% if 7 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">7번</button></td>
            {% endif %}
            {% if 12 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">12번</button></td>
            {% endif %}
            {% if 17 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">17번</button></td>
            {% endif %}
            {% if 22 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">22번</button></td>
            {% endif %}
            {% if 27 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">27번</button></td>
            {% endif %}
            {% if 32 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">32번</button></td>
            {% endif %}
            {% if 37 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">37번</button></td>
            {% endif %}
            {% if 42 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">42번</button></td>
            {% endif %}
            {% if 47 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">47번</button></td>
            {% endif %}
        </tr>
        <tr>
            {% if 3 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
                <td><button id="button1" class="button">3번</button></td>
            {% endif %}
            {% if 8 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">8번</button></td>
            {% endif %}
            {% if 13 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">13번</button></td>
            {% endif %}
            {% if 18 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">18번</button></td>
            {% endif %}
            {% if 23 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">23번</button></td>
            {% endif %}
            {% if 28 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">28번</button></td>
            {% endif %}
            {% if 33 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">33번</button></td>
            {% endif %}
            {% if 38 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">38번</button></td>
            {% endif %}
            {% if 43 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">43번</button></td>
            {% endif %}
            {% if 48 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">48번</button></td>
            {% endif %}
        </tr>
        <tr>
            {% if 4 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
                <td><button id="button1" class="button">4번</button></td>
            {% endif %}
            {% if 9 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">9번</button></td>
            {% endif %}
            {% if 14 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">14번</button></td>
            {% endif %}
            {% if 19 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">19번</button></td>
            {% endif %}
            {% if 24 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">24번</button></td>
            {% endif %}
            {% if 29 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">29번</button></td>
            {% endif %}
            {% if 34 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">34번</button></td>
            {% endif %}
            {% if 39 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">39번</button></td>
            {% endif %}
            {% if 44 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">44번</button></td>
            {% endif %}
            {% if 49 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">49번</button></td>
            {% endif %}
        </tr>
        <tr>
            {% if 5 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
                <td><button id="button1" class="button">5번</button></td>
            {% endif %}
            {% if 10 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">10번</button></td>
            {% endif %}
            {% if 15 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">15번</button></td>
            {% endif %}
            {% if 20 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">20번</button></td>
            {% endif %}
            {% if 25 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">25번</button></td>
            {% endif %}
            {% if 30 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">30번</button></td>
            {% endif %}
            {% if 35 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">35번</button></td>
            {% endif %}
            {% if 40 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">40번</button></td>
            {% endif %}
            {% if 45 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">45번</button></td>
            {% endif %}
            {% if 50 in locker_data_list %}
                <td><button id="button1" class="button" disabled=true>사용중</button></td>
            {% else %}
            <td><button id="button1" class="button">50번</button></td>
            {% endif %}
        </tr>
    </table>
    <br>
    <input type="text" id="textBox" readonly>
    <br>
    <button id="submitButton">예약</button>

    <script>
        $(document).ready(function() {
            // 버튼 클릭 시 텍스트 표시
            $('.button').click(function() {
                var buttonText = $(this).text();
                $('#textBox').val(buttonText);
            });

            // 예약 버튼 클릭 시 폼 전송
            $('#submitButton').click(function() {
                var textBoxValue = $('#textBox').val().replace('번', '');
                // 폼 전송 로직 추가
            });

            var condition = true; // 예시로 true로 설정하였습니다. 실제로는 원하는 조건을 설정하시면 됩니다.
            if (condition) {
                // 버튼 비활성화 및 텍스트 변경
                buttons[0].disabled = false;
                buttons[0].textContent = "1번";
            }
        });
    </script>
</body>

{% endblock %}


