{% load static %}
{% include "header.html" %}
{% block content %}
<body>
    <h1>큐앤애이 게시판</h1><br>
    <hr>
    <table class="table table-bordered">
        <tr>
            <td>{{ qd.title }}</td>
        </tr>
        <br>
        <tr>
            <td>
                {{ qd.contents }}
            </td>
        </tr>
    </table>
    <div style="padding: 10px 30px; float:right;">
    <a href="{% url 'qanda:qanda' %}" type="submit" class="btn btn-primary">글 목록</a>
    </div>
</body>
{% endblock %}