{% load static %}
{% include "header.html" %}
{% block content %}
<body>
    <h1>큐엔에이 게시판</h1>
    <h3>글 등록</h3><br>
    <div class="row my-3"></div>
    <form action ="{% url 'qanda:writing' %}" method="post">
        {% csrf_token %}
        이름: <input type="text" name="name"  maxlength="10" placeholder="{{ user.name }}" required></input>
        제목: <input type="text" name="title" placeholder="제목을 입력해 주세요" maxlength="30" required></input>
        날짜: <input type="date" name="cdate" required></input><br><br>
        내용: <textarea cols="80" name="contents" placeholder="내용을 입력해 주세요" rows="16"></textarea><br>
    <div style="padding: 10px 30px; float:right;">
        <button class="btn btn-primary" type="submit">글 저장</button>
        <a href="{% url 'qanda:main' %}" type="submit" class="btn btn-primary">글 목록</a>
    </div>
</form>
</body>
{% endblock %}

